production:
  adapter: mysql
  database: opd_database
  username: root
  password: root
  host: localhost
  pool: 500

development:
  adapter: mysql
  database: opd_database
  username: root
  password: root
  host: localhost
  pool: 500

test: &TEST
  adapter: mysql
  database: opd_database
  username: root
  password: root
  host: localhost
  pool: 500

cucumber:
  <<: *TEST

